<div style="justify-content: center; align-content: center; text-align: center;">
    <h1><b>CECS 443 Team 2's Implementation of a Parking Garage Manager</b></h1>
    <p>On the sidebar navigation, there are four buttons.</p>
    <p>The "Home" Button redirects to this page</p>
    <p>The "Register a User" Button allows for online registration of new account</p>
    <p>The "View Lots" Button allows administrators to view the parking garage and their status</p>
    <p>The "View Users" Button allows administrators to see all currently registered users.</p>
</div>