<!-- <ng-container *ngFor="let user of userdictionary | keyvalue">
    Key: <b>{{user.key}}</b> Value <b>{{user.value}}</b>
</ng-container>

<button mat-flat-button (click)="onReload()">Reload</button> -->



<div style="justify-content: center; align-content: center; padding:10%">
    <table mat-table (load)="onReload()" class="mat-elevation-z8" matSort>
        <thead>
            <th mat-sort-header>ID</th>
            <th mat-sort-header>Username</th>
            <th mat-sort-header>Email</th>
            <th mat-sort-header>Password</th>
            <th mat-sort-header>Balance</th>
            <th mat-sort-header>Car Plate</th>
        </thead>
        <tbody>
            <tr *ngFor="let user of userList">
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.password}}</td>
                <td>{{user.balance}}</td>
                <td>{{user.car_plate}}</td>
            </tr>
        </tbody>
        <button mat-flat-button (click)="onReload()">Reload</button>
    </table>
    
</div>